<div class="container-fluid" style="height: 75vh;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-center">
      <h5>Are you the impostor?</h5>
      <h5><%= current_player_is_impostor ? "Yes you are the impostor!" : "No you are not the impostor." %></h5>
      <% if current_user.id == @instance.user_id %>
        <%= simple_form_for([@instance, @round]) do |f| %>
          <%= f.submit "To the first question1", class:"btn btn-primary" %>
        <% end %>

        <%= simple_form_for([@instance, Round.new]) do |f| %>
          <div class="col-6">
            <%= hidden_field_tag 'current_round', @round.id %>
            <%= f.submit "To the first question2", class:"btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>