<div class="container-fluid">
  <div id="result" data-result-id="<%=@result.id%>">

    <div class="row">
      <div class="col-12">
        <h1 class="my-4 text-center">Vote Result</h1>

        <!-- Partial for Imposter reveal -->
        <div id="imposter-reveal" class="my-2 text-center" style="height:10vh; border: 1px solid black">
          <%= render  "result_impostor_reveal", impostor: @impostor, vote_tally: @vote_tally %>
        </div>

        <!-- Partial for chart -->
        <div id="chart" class="my-2" style="height:40vh; border: 1px solid black">
          <%= render  "result_chart" %>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-6">

      <!-- Partial for Vote Tally -->
        <div id="vote-tally" style="height:25vh; border: 1px solid black">
          <%= render  "result_vote_tally" %>
        </div>

      </div>

      <div class="col-6">
        <div style="height:25vh; border: 1px solid black">
          SOMETHING ELSE HERE
        </div>

      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-12">
        <div id="result-footer" class="d-flex justify-content-around my-3" style="height:5vh;" data-html2canvas-ignore>
          <% if @current_user.id == @instance.user_id %>
            <%= simple_form_for Instance.new do |f| %>
              <%# needed for creating a new instance %>
              <div>
                <%# needed to get last_instance_id for creation of new instance %>
                <%= hidden_field_tag 'last_instance_id', @instance.id %>
                <%= f.submit "Exit Game", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>

          <%= render "share_modal" %>
        </div>
      </div>
    </div>

  </div>
</div>
